<p id="notice"><%= notice %></p>

<p>
  <strong>Insidetemp:</strong>
  <%= @temp.insidetemp %>
</p>

<p>
  <strong>Outsidetemp:</strong>
  <%= @temp.outsidetemp %>
</p>

<%= link_to 'Edit', edit_temp_path(@temp) %> |
<%= link_to 'Back', temps_path %>
